---
import Card from "./Card.astro";

const PROYECTOS = [{}];
const { id } = Astro.props;

//armar un json con mis proy, hacer un cap y mandarlos en card
---

<div id={id} class="scroll-m-12">
  <h1 class="text-3xl font-bold mb-4">Mis proyectos</h1>
  <Card />
</div>
