---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Aboutme from "../components/Aboutme.astro";
import Contact from "../components/Contact.astro";
import Project from "../components/Project/Project.astro";
import { Image } from "astro:assets";
import fotoInicio from "../../public/fotoinicio.png";
---

<Layout title="Portfolio Luciano Castro">
  <main class="flex flex-col gap-y-24 pb-8 px-12">
    <div class="flex flex-col justify-evenly mt-16 md:flex-row">
      <section
        class="flex flex-col gap-y-6 w-full justify-center items-center md:w-1/2 md:items-start"
      >
        <h1 class="text-3xl font-bold md:text-5xl">¡Hola! Soy Luciano</h1>
        <h2>
          Desarrollador Front-end de Buenos Aires, Argentina. Mi enfoque se
          centra en la creación de aplicaciones web donde la experiencia del
          usuario es la prioridad.
        </h2>
        <a
          href="/cvlucianocastro.pdf"
          download="cvlucianocastro.pdf"
          class="inline-flex w-44 justify-center items-center px-4 py-2 text-sm font-medium border rounded-lg focus:z-10 focus:ring-4 focus:outline-non focus:text-blue-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700 focus:ring-gray-700"
          ><svg
            class="w-3.5 h-3.5 me-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"
            ></path>
            <path
              d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
            ></path>
          </svg>Descargar CV</a
        >
      </section>
      <section class="flex justify-center items-center">
        <Image
          src={fotoInicio}
          alt="foto"
          class="size-auto md:max-h-[500px] md:max-w-[500px]"
        />
      </section>
    </div>
    <Aboutme id="about" />
    <Experience id="experience" />
    <Project id="projects" />
    <Contact id="contact" />
  </main>
</Layout>
