---
const { id } = Astro.props;
---

<div id={id} class="flex flex-col justify-center items-center scroll-m-12">
  <h1>Contactame</h1>
  <section class="flex gap-x-8">
    <p>icono linkedin</p>
    <p>icono wsp</p>
    <p>icono mail</p>
  </section>
</div>
