---

---

<header class="flex justify-end">
  <nav class="flex gap-x-6">
    <a href="#about">Sobre mi</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
