---

---

<header class="fixed top-0 w-full flex justify-center items-center z-10">
  <nav
    class="flex justify-center gap-x-4 bg-navcolor p-4 border-none rounded-3xl md:gap-x-6"
  >
    <a href="#about" class="hover:text-primary focus:text-primary">Sobre mi</a>
    <a href="#experience" class="hover:text-primary focus:text-primary"
      >Experiencia</a
    >
    <a href="#projects" class="hover:text-primary focus:text-primary"
      >Proyectos</a
    >
    <a href="#contact" class="hover:text-primary focus:text-primary">Contacto</a
    >
  </nav>
</header>
