---

---

<header class="fixed left-7">
  <nav class="flex gap-x-4 bg-navcolor p-4 border-none rounded-3xl md:gap-x-6">
    <a href="#about" class="hover:text-primary">Sobre mi</a>
    <a href="#experience" class="hover:text-primary">Experiencia</a>
    <a href="#projects" class="hover:text-primary">Proyectos</a>
    <a href="#contact" class="hover:text-primary">Contacto</a>
  </nav>
</header>
