---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";

/*colores:
	fondo: #222831
	letras: #EEEEEE


https://juanarede-portfolio.netlify.app/?#sobremi

https://animated-churros-60739d.netlify.app/#sobre-mi

https://www.figma.com/file/woQY5booqbC9lVpEYb7m81/Portfolio-Website-Design-(Community)?type=design&node-id=1-2&mode=design&t=1IzPyxPpSMkA9Lme-0
*/
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mb-8 mx-12">
    <Header />
    <slot />
  </body>
</html>

<style>
  html {
    background: rgb(18, 23, 21);
    background: linear-gradient(
      180deg,
      rgba(18, 23, 21, 1) 0%,
      rgba(34, 40, 49, 1) 62%
    );
    background-attachment: fixed;
    color: #eeeeee;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
